$gray5: #555555;
$golden: #DD8560;
$silver: #E1E0DB;
$gray8: #888888;


.custom-carousel-indicators {
    // position: absolute;
    // bottom: 0px;
    button {
        border: 1px solid gray !important;
        border-radius: 100%;
        width: 13px !important;
        height: 13px !important;

        &.active {
            background-color: gray;
        }
    }
}

.item-info-wrapper {
    font-family: 'Tenor Sans', sans-serif;
    .item-desc {
        color: $gray5;
    }
    .item-price {
        color: $golden;
    }

}

.item-color-wrapper {
    .item-color {
        width: 30px;
        height: 30px;
        &.active {
            border: 2px solid white; 
            outline: 1px solid $gray8;
        }
    }
    .item-color-black {
        background-color: black;
    }
    .item-color-golden {
        background-color: $golden;
    }
    .item-color-silver {
        background-color: $silver;
    }
}

.item-size-wrapper {
    .item-size {
        width: 30px;
        height: 30px;
        background-color: white;
        border: 1px solid grey;
        text-align: center;
        border-radius: 100%;
        
        &.active {
            color: white;
            background-color: black;
        }
    }
}

.basket-container {
    height: 50px;
}

#add-to-basket-button {
    &:hover {
        cursor: pointer;
    }
}

#amount-basket-wrapper {
    * {
        font-size: 24px;
    }
    i:hover {
        cursor: pointer;
    }
}




.invisible {
    display: none !important;
}

.font-tenor {
    font-family: 'Tenor Sans', sans-serif;
}