$gray5: #555555;
$golden: #DD8560;
$silver: #E1E0DB;
$gray8: #888888;
$gray3: #333333;

.clothing-navbar{
    border-bottom: 1px solid $silver;
    position: relative;
    display: block;
    a {
        opacity: 0.5;
        color: $gray3;
        &.active {
            opacity: 1;
            color: $gray3;
        }
    }


    // .active::after {
    //     content:"";
    //     position: absolute;
    //     bottom: -1px;
    //     width: 100px;
    //     left: 0px;
    //     border-bottom: 2px solid green;    
    // }
}



.clothing-dropdown{
    h2, a {
        color: $gray3;
        font-size: 20px;
    }
}

body {
    font-family: 'Tenor Sans', sans-serif;
}

.item-name {
    text-transform: uppercase;
    letter-spacing: 4px;
}
.item-desc {
    color: $gray5;
}
.item-price {
    color: $golden;
}

.item-color-text {
    color: $gray5;
}

.item-size-text {
    color: $gray5;
}

.subtotal-text {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.subtotal-price {
    letter-spacing: 3px;
}



.custom-carousel-indicators {
    // position: absolute;
    // bottom: 0px;
    button {
        border: 1px solid gray !important;
        border-radius: 100%;
        width: 13px !important;
        height: 13px !important;

        &.active {
            background-color: gray;
        }
    }
}

.disclaimer {
    color: $gray8;
}

// .item-info-wrapper {
//     font-family: 'Tenor Sans', sans-serif;
//     .item-desc {
//         color: $gray5;
//     }
    
// }
// .item-price {
//     color: $golden;
// }

.item-color {
    width: 30px;
    height: 30px;
    &.active {
        border: 2px solid white; 
        outline: 1px solid $gray8;
    }
    &:hover {
        cursor: pointer;
    }
    &.item-color-black {
        background-color: black;
    }
    &.item-color-golden {
        background-color: $golden;
    }
    &.item-color-silver {
        background-color: $silver;
    }
}

.item-size {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid grey;
    text-align: center;
    border-radius: 100%;
    
    &.active {
        color: white;
        background-color: black;
    }
    &:hover {
        cursor: pointer;
    }
}


.height-50 {
    height: 50px;
}

.cart-title {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.bottom-border {
    border-bottom: 1px solid black;
}

.add-to-basket-text {
    text-transform: uppercase;    
}

.invisible {
    display: none !important;
}

#heart-icon {
    font-size: 24px;
}

.subtotal-wrapper {
    border-top: 1px solid black;
}

.bottom-important {
    width: 100vw !important;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.mb-10 {
    margin-bottom: 80px;
}

.font-24 {
    font-size: 24px;
}


// Generic
.cursor-pointer:hover {
    cursor: pointer;
}

.small-text {
    font-size: 20px;
}